<link rel="stylesheet" href="assets/css/chat.css">
<nav class="row navbar navbar-dark bg-dark">
  ​
  <div class="col-md-6">
    <h1><a id="membersLink" href="/members">AUDIO BRIDGE</a></h1>
  </div>
  ​
  <div class="col-md-5"></div>

  <div class="col-sm-1">
    ​
    <form class="input-group my-2 my-lg-0" method="post">
      <div class="input-group-prepend">
        ​

        <button onclick="location.href='/logout'" type="button" id="logoutBtn" class="btn btn-info">Logout </button>

      </div>

    </form>
  </div>
</nav>
<div class="col-xs-6">
  <h3 class=" text-center">AudioBridge Chat</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Caroline </h5>
                <p>This is my AudioBridge</p>
              </div>
            </div>
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Eric </h5>
                <p>This is my AudioBridge</p>
              </div>
            </div>
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Fiach </h5>
                <p>This is my AudioBridge</p>
              </div>
            </div>
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Donnahue </h5>
                <p>This is my AudioBridge</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          /
          {{!-- <div class="received_msg">
            <div class="received_withd_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM | June 9</span>
            </div>
          </div> --}}
          {{!--
        </div> --}}
        {{!-- <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Test which is a new approach to have all
              solutions</p>
            <span class="time_date"> 11:01 AM | June 9</span>
          </div>
        </div> --}}
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Welcome to AudioBridge Chat Server</p>
              <span class="time_date"> AudioBridge Bot</span>
            </div>
          </div>
          <div class="chat-messages"></div>
        </div>

      </div>
      <div class="type_msg">
        <form class="input_msg_write" id="chat-form">
          <input type="text" class="write_msg" placeholder="Type a message" id="textmsg" required autocomplete="off" />
          <button class="msg_send_btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>



</div>
</div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>