<link rel="stylesheet" href="assets/css/chat.css">
<div class="container">
  <div class="row">
        <div class="col-xs-6">
  <header class="chat-header">
    {{!-- <h1>AudioBridge Chat</h1> --}}
    <a id="leave-btn" class="btn">Leave Room</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3> Room Name:</h3>
      <h2 id="room-name">Music</h2>
      <h3>Users</h3>
      <ul id="users"></ul>
    </div>
    <div class="chat-messages"></div>
  </main>
  <div class="chat-form-container">
    {{!-- <form id="chat-form">
      <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
      <button class="btn"> Send</button> --}}

    </form>
  </div>
</div>
<div class="col-xs-6">
  <h3 class=" text-center">AudioBridge Chat</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM | June 9</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM | June 9</span>
            </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM | Yesterday</span>
              </div>
            </div>
            <div class="chat-messages"></div>
          </div>

        </div>
        <div class="type_msg">
          <form class="input_msg_write" id="chat-form">
            <input type="text" class="write_msg" placeholder="Type a message" id="textmsg" required
              autocomplete="off" />
            <button class="msg_send_btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>



</div>
</div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>