<nav class="row navbar navbar-dark bg-dark">

    <div class="col-md-4">
        <h1>AUDIOBRIDGE</h1>
    </div>

    <div class="col-md-3"></div>

    <div class="col-md-5">

        <form class="login input-group my-2 my-lg-0" method="post">
            <div class="input-group-prepend">

                <input type="text" class="form-control mr-sm-2" id="username-input" placeholder="Username" required>
                <input class="form-control mr-sm-2" type="password" placeholder="Password" id="password-input"
                    name="psw" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>

            </div>

        </form>
    </div>
</nav>
<img id="logo" src="/assets/img/audiobridgelogo.png" alt="logo"  width=750/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/login.js"></script>




{{!-- //ORIGINAL CODE INCASE WE ARE MISSING ANY IDS OR CLASSES --}}

{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/">here</a></p>
        </div>
    </div>
</div> --}}