<nav class="row navbar navbar-dark bg-dark">

    <div class="col-md-4">
        <h1>AUDIOBRIDGE</h1>
    </div>

    <div class="col-md-3"></div>


    <div class="col-md-5">

        <form class="login input-group my-2 my-lg-0" method="post">
            <div class="input-group-prepend">

                <input type="text" class="form-control mr-sm-2" id="username-input" placeholder="Username" required>
                <input class="form-control mr-sm-2" type="password" placeholder="Password" id="password-input"
                    name="psw" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>

            </div>

        </form>
    </div>
</nav>
<img id="logo" src="/assets/img/audiobridgelogo.png" alt="logo" width=750 />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/login.js"></script>