<nav class="row navbar navbar-dark bg-dark">
    ​
    <div class="col-md-6">
        <h1>AUDIO BRIDGE</h1>
    </div>
    ​
    <div class="col-md-5"></div>

    <div class="col-sm-1">
        ​
        <form class="input-group my-2 my-lg-0" method="post">
            <div class="input-group-prepend">
                ​

                <button onclick="location.href='/logout'" type="button" id="logoutBtn" class="btn btn-info">Logout
                </button>

            </div>

        </form>
    </div>
</nav>



<body class="w3-light-grey">

    <div class="w3-content" style="max-width:1400px">


        <header class="w3-container w3-center w3-padding-32">
            <h1><b>Audio Bridge</b></h1>
            <p>Welcome to our <span class="w3-tag">audio club</span></p>
        </header>


        <div class="w3-row">


            <div class="w3-col l8 s12">

                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b>TITLE HEADING</b></h3>
                        <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                            euismod
                            placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                            ultricies mi non
                            congue ullam corper. Praesent tincidunt sed
                            tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida
                            diam non
                            fringilla.</p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                                            »</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span
                                            class="w3-tag">0</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b>Chat with freinds</b></h3>

                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <a href="chat.handlebars" class="w3-button w3-padding-large w3-white w3-border">Music
                                    Chat</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="w3-col l4">

                <div class="w3-card w3-margin w3-margin-top">

                    <div class="w3-container w3-white">
                        <h4><b>My Profile</b></h4>
                        <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a
                            interest of
                            lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                    </div>
                </div>
                <hr>


                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Popular Playlists</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right"
                                style="width:50px">
                            <span class="w3-large">Lorem</span><br>
                            <span>Sed mattis nunc</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right"
                                style="width:50px">
                            <span class="w3-large">Ipsum</span><br>
                            <span>Praes tinci sed</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right"
                                style="width:50px">
                            <span class="w3-large">Dorum</span><br>
                            <span>Ultricies congue</span>
                        </li>
                        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                            <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right"
                                style="width:50px">
                            <span class="w3-large">Mingsum</span><br>
                            <span>Lorem ipsum dipsum</span>
                        </li>
                    </ul>
                </div>
                <hr>


                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p><span class="w3-tag w3-black w3-margin-bottom">Rock</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hip Hop</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jazz</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pop</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Country</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Classical</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Electronic</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Heavy Metal</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Reggae</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Techno</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bachata</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Indie Rock</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">House</span> <span
                                class="w3-tag w3-light-grey w3-small w3-margin-bottom">Blue Grass</span>
                        </p>
                    </div>
                </div>


            </div>


        </div><br>


    </div>



    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/members.js"></script>