<link rel="stylesheet" href="/assets/css/chat.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<nav class="row navbar navbar-dark bg-dark">
    ​
    <div class="col-md-4">
        <h1>AUDIOBRIDGE</h1>
    </div>
    ​
    <div class="col-md-5"></div>

    <div class="col-md-2">
        ​
        {{!-- <form class="input-group my-2 my-lg-0" method="post">
            <div class="input-group-prepend"> --}}
                <button onclick="location.href='/logout'" type="button" id="logoutBtn" class="logout">Logout
                {{!-- class="btn btn-outline-danger my-2 my-sm-0" --}}

            </div>

        </form>
    </div>
</nav>

<link class="w3-light-grey">
<div class="w3-content" style="max-width:100%;" id="membersBody">
    <header class="w3-container w3-center w3-padding-32">
        {{!-- <h1><b>Audio Bridge</b></h1>
        <p>Welcome to your <span class="w3-tag">audio club</span></p> --}}
        <img src="../assets/img/audiobridgelogo.png" alt="">
    </header>
    <div class="w3-row">
        <div class="w3-col l8 s12">

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container" id="title">
                    <h3><b>This is Alpha Mode</b></h3>
                    <h5>Audiobridge Build <span class="w3-opacity">March 2, 2020</span></h5>
                </div>
                <div class="w3-container">
                    <p>We are still currently in the alpha build of AudioBridge. Expect bugs and glitches while you
                        browse. All issues and bugs found should be addressed on the <a
                            href="https://github.com/ericfreyer/Project_2">github!</a>

                    </p>
                    <div class="w3-row">
                        {{!-- <div class="w3-col m8 s12">
                            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                                        »</b></button></p>
                        </div> --}}
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span
                                        class="w3-tag">0</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container" id="title">
                    <h3><b>Welcome to AudioBridge</b></h3>
                    <h5>Welcome <span class="w3-opacity">March 2, 2020</span></h5>
                </div>
                <div class="w3-container">
                    <p>Welcome to AudioBridge website, where you can meet other users passionate about music. Start
                        chatting with others now!</p>
                    <div class="w3-row">
                        {{!-- <div class="w3-col m8 s12">
                            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                                        »</b></button></p>
                        </div> --}}
                        <div class="w3-col m4 w3-hide-small">
                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span
                                        class="w3-tag">0</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                    <h3><b>Chat with AudioBridge Family</b></h3>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">


                            <a href="/chat" class="w3-button w3-padding-large w3-white w3-border">Lets talk
                                music</a>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col l4">

            <div class="w3-card w3-margin w3-margin-top">

                <div class="w3-container w3-white">

                    <h4 id="profileName"></h4>



                    <p id="aboutMe">Just me, myself and I, exploring the universe of unknownment. I have a heart of
                        love and a
                        interest of
                        Audiobridge. I want to share my world with you.</p>

                    <form class="bio">


                            <input type="text" class="form-control" id="about-input" placeholder="Add a Bio Here">
                            <button type="submit" class="btn btn-default">Submit</button>

                        <input type="text" class="form-control" id="about-input" placeholder="Edit">
                        <button type="submit" class="btn btn-default">Submit</button>


                    </form>





                </div>
            </div>
            <hr>
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Popular Playlists</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <span class="w3-large">Spotify</span><br>
                        <a href="https://open.spotify.com/playlist/37i9dQZF1DX0XUsuxWHRQd">RapCaviar</a>
                    </li>
                    <li class="w3-padding-16">
                        <span class="w3-large">Spotify</span><br>
                        <a href="https://open.spotify.com/playlist/37i9dQZF1DX0kbJZpiYdZl">Hot Hits USA</a>
                    </li>
                    <li class="w3-padding-16">
                        <span class="w3-large">Spotify</span><br>
                        <a href="https://open.spotify.com/playlist/37i9dQZF1DX3rxVfibe1L0">Mood Booster</a>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                        <span class="w3-large">Spotify</span><br>
                        <a href="https://open.spotify.com/playlist/37i9dQZF1DWVA1Gq4XHa6U">Gold School</a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p><span class="w3-tag w3-black w3-margin-bottom">Rock</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hip Hop</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jazz</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pop</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Country</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Classical</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Electronic</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Heavy Metal</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Reggae</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Techno</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bachata</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Indie Rock</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">House</span> <span
                            class="w3-tag w3-light-grey w3-small w3-margin-bottom">Blue Grass</span>
                    </p>
                </div>
            </div>
        </div>
    </div><br>
</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/members.js"></script>